#
####### example-requirements.txt #######
#
###### Requirements without Version Specifiers ######
json
requests
#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
#
###### Refer to other requirements files ######
#-r other-requirements.txt
#
#
###### A particular file ######
# product-sample.json TODO

# product.json
https://maroca-my.sharepoint.com/personal/roman_dusek_mallgroup_com/_layouts/15/guestaccess.aspx?docid=0a10abf40943543448f773a44f67eae81&authkey=AQ5sDliDM41-D4xLfPEplwA&expiration=2017-12-09T23%3A00%3A00.000Z&e=a6213cb6c7024f74b6d6fa0683c20126

#
###### Additional Requirements without Version Specifiers ######
#   Same as 1st section, just here to show that you can put things in any order.
#